.Lottery {
    border: 2px solid gold;
    height:auto;
    width: 50vw;
    border-radius: 25px;
    text-align: center;
    align-self: center;
    margin: 10px;

}

.Lottery button {
    
    align-self: center;
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin: 1em;
}